/* You can add global styles to this file, and also import other style files */
/* :root {
  --surface-a: #1f2d40;
  --surface-b: #17212f;
  --surface-c: rgba(255, 255, 255, 0.03);
  --surface-d: #304562;
  --surface-e: #1f2d40;
  --surface-f: #1f2d40;
  --text-color: rgba(255, 255, 255, 0.87);
  --text-color-secondary: rgba(255, 255, 255, 0.6);
  --primary-color: #64b5f6;
  --primary-color-text: #212529;
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
} */

html,
body {
  margin: 10px;
  font-family: var(--font-family);
  background-color: var(--surface-b);
}

.text-layout {
  color: var(--text-color);
}
/* 
#chat-mensajes {
    padding-left: 0;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid gray;
    border-radius: 3px;
} */